* {
    box-sizing: border-box;
    text-decoration: none;
}
body {
    width: 85vw;
    margin: auto;
    padding: 0 30px;
    font-family: 'Poppins', sans-serif;
    background-color: #F0F0F0;
    font-size: 120%;
    position: relative;
}

h1, h2 {
    margin: 0;
    line-height: 120%;
    color: #D46945
}

p {
    margin: 0;
}

a {
    color: black;
}

a:hover {
    color: #D46945;
    transition: 300ms;
}

/* a:visited {
    text-decoration: none;
} */

#main {
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    padding: 40px 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.logoText {
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    font-size: 80%;
}

/* HOME PAGE */

.homeSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: white;
    height: 84vh; 
    overflow: hidden; 
    border-radius: 20px;
    position: relative;
    margin-bottom: 30px;
}

.hi {
    width: 50%; 
    text-align: left;
    font-size: 200%;
    color: #D46945;
    position: relative;
    z-index: 1;
    line-height: 130%;
}

.portrait {
    height: 100%; 
    position: absolute;
    bottom: 0;
    right: 0;
}

.homeLinks_wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    font-size: 130%;
}

em {
    color: #D46945;
    font-style: normal;
}

.homeLinks_item {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.homeLinks_item:hover {
    background-color: #0f0f0f;
    transition: 500ms;
}

/* ABOUT PAGE */

.pageTitle {
    display: flex;
    justify-content: center;
    font-size: 200%;
    margin-bottom: 30px;
}

.sectionAbout {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    height: 240vh;
    padding: 250px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
}

.sectionAbout img {
    position: absolute;
    width: 150%;
    bottom: -200px;
    left: 0;
}

.sectionAbout container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 45%;
}

/* WORK PAGE */

.sectionWork {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.sectionWork h2 {
    max-width: 50vh;
    color: #F0F0F0;
    position: relative;
    z-index: 1;
}

.workBig {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    padding: 30px;
}

.workBig img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 90%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    transition: 400ms;
}

.workBig img:hover {
    opacity: 100%;
    scale: 101%;
}

.workSmall_wrap {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.workSmall_wrap a {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    padding: 30px;
}

.workSmall_wrap img {
    position: absolute;
    width: fit-content;
    height: 100%;
    opacity: 90%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    transition: 400ms;
}

.workSmall_wrap img:hover {
    opacity: 100%;
    scale: 101%;
}

/* CONTACT PAGE */

.sectionContact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

form {
    width: 50%;
}

label {
    color: gray;
    font-size: 80%;
}

input[type=text],input[type=email],input[type=tel], select, textarea {
    font-size: 80%;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 5px;
}

input[type=text]:focus,input[type=email]:focus,input[type=tel]:focus, select:focus,textarea:focus {
    outline: none;
    border: 1px solid #D46945;
}

input[type=submit] {
    width: 100%;
    height: 50px;
    background-color: #D46945;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #e17956;
    transition: 300ms;
    cursor: pointer;
}

input::placeholder, textarea::placeholder{
    color: rgb(176, 176, 176);
}

iframe {
    background-color: black;
    border-radius: 20px;
    display: block;
    width: 100%;
    height: 50vh;
    margin-bottom: 30px;
}

.sm {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    font-size: 80%;
}

.footer p {
    color: gray;
}

/* BACK TO TOP ARROW */

.arrow {
    border: 1px solid black;
    border-radius: 5px;
    position: fixed;
    padding: 15px;
    bottom: 5vh;
    right: 5vh;
    z-index: 10;
}

.arrow:hover {
    scale: 105%;
    mix-blend-mode: difference;
    transition: 300ms;
}
